.main-heading{
    color:crimson;
    font-size:45px;
    text-align: center;
    font-weight:bold;
    background-color: aquamarine;
    font-style:italic;
}
.Table{
    padding-left:40px;
    padding-top:20px;
    padding-right:60px;
    height:70vh;
}
.backgroundcolor{
    background-color: aquamarine;
    
    height:100vh;
    
}
.table-title{
    font-size:24px;
}
.table_element{
    padding:10px;
    font-size: 19px;
}

.page_background{
    background-color:aquamarine;
}
th,td{
    padding:15px;
}
table{
    font-size:25px;
    color:bisque;
    height:90%;
    width:90%;
    background-color:#080533;
}
h1{
    color:crimson;
    font-weight:800;
    font-size:40px;
    margin-left:35px;
}